.journey-page h1::before,
.journey-page h1::after{
    display: none;
}
.container.journey-page h1{
        font-size: 53px;
        font-family: 'Coolvetica';
        color: #ffd700;
        font-weight: 400;
        position: relative;
        left: 10%;
}
.timeline{
    max-width: 1000px;
    max-height: 600px;
    overflow: auto;
    margin: 0px auto;
}
.timeline::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.timeline {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#timeline{
    margin: 0px auto;
    display: block;
    padding-left: 75px;
}
@media screen and (max-width: 1000px) {
    .container.journey-page h1{
        font-size: 53px;
        font-family: 'Coolvetica';
        color: #ffd700;
        font-weight: 400;
        position: initial;
        margin: 10px;
    }
    .timeline{
        max-height: 400px;
        overflow: auto;
        margin: 0px auto;
        max-width: 94%;
        padding-left: 3%;
        padding-right: 10%;
    }
    #timeline{
        margin: 0px auto;
        display: block;
        padding-left: 0px;
        width: 97% !important;
    }
}
